*{
	box-sizing:border-box;
	color:black
}
body{
	background-color:indianred;
	margin: 0 auto;
}
.mainframe{
	background-color: white;
	border:1px solid black;
	border-radius: 25px;
	max-width:1200px;
	margin:20px auto;
	box-shadow:10px 10px 10px black;
}
header{
	padding:50px;
}
.logo{
	font-size:2.5em;
	margin-bottom:-15px;
}
nav{
	float:right
}
main{
	display:inline-block;
}
.whyus p{
	text-align:center;
	margin:0px auto;
	padding-top:0;
}
.whyus h1{
	text-align:center;
	font-size:5em;
	margin:0 auto;
	padding-bottom:0;
}
.reasons {
	display:flex;
	flex-direction:row;
}
.res{
	padding: 35px;
}
.res img{
	max-width: 70px;
}
.info{
	width:70%;
	float:left;
	padding:35px;
}
.info article{
	border-bottom:1px solid indianred;
}
.info article:last-child{
	border-bottom:0px;
}
.info p{
	margin-top:0px;
	margin-bottom:20px;
}
.info h3{
	margin-top:50px;
	margin-bottom:10px;
}
#h3top{
	margin-top:-10px;
}
aside{
	margin-right:5%;
	margin-top:15px;
	width:20%;
	float:right;
	background-color:maroon;
	border:1px solid maroon;
	border-radius:15px;
}
aside h3{
		padding-left:12%;
		margin-bottom:0px;
		
}
aside ul{
	margin:5px;
	
}
footer{
	text-align:center;
}
@media screen and (max-width:768px){
	.reasons{
		flex-wrap:wrap;
	}
}
@media screen and (max-width:679px){
	.reasons{
		flex-wrap:wrap;
	}
	aside{
		margin-right:5px;
		margin-left:0px;
		font-size:10px
	}
	.info{
		margin:0px;
	}
}